@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

body * {
  font-family: 'Raleway', 'Tahoma', sans-serif !important;
}
body {
  padding: 0px;
  margin: 0px;
  background: #fafafa;
}
body.login {
  background: #4e4376;
  background: -webkit-linear-gradient(45deg, #2b5876, #4e4376);
  background: linear-gradient(45deg, #2b5876, #4e4376);
}
.logo {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
}
.login_form {
  display: block;
  background: #ffffff;
  border-radius: 3px;
  padding: 30px 30px;
  max-width: 500px;
  margin: 30px auto 60px auto;
}
.form_label, .btn, .alert, .logo {
  user-select: none;
}
.form_label {
  font-weight: 700;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}
.form_input {
  display: block;
  margin: 10px 0px 20px 0px;
  border: 1px solid #e6e6e6;
  box-shadow: none;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  outline: none;
  transition: 0.2s border-color;
}
.form_input:focus {
  border-color: #4e4376;
}
.btn {
  padding: 16px;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  transition: 0.2s background-color;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
}
.btn.btn-primary {
  background: #4e4376;
  color: #ffffff;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.alert {
  padding: 14px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
}
.alert.alert-danger {
  border-color: #e74c3c;
  color: #e74c3c;
}
.anchor {
  text-decoration: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #3498db;
  transition: 0.2s color;
}
.anchor:hover {
  color: #2980b9;
}
.anchor.anchor-right {
  float: right;
}
.clearfix {
  clear: both;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #333333;
  height: 112px;
  width: 100%;
}
.navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: right;
}
.navbar ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 15px;
  margin-top: 46px;
}
.navbar ul li a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.navbar ul li.true a {
  color: rgba(255, 255, 255, 0.9);
}
.navbar .logo_nav {
  color: #ffffff;
  font-size: 19px;
  margin-right: 60px;
  font-weight: 700;
  user-select: none;
  line-height: 112px;
}